html {
  background-color: hsla( 180, 050%, 025%, 1.0 );
}
body {

  position: relative;
  margin: auto;

  width: 100vmin;
  height: 100vmin;

  background-color: hsla( 090, 050%, 025%, 1.0 );
  color: white;

  font-family: 'MS PGothic';
  overflow: hidden;

  cursor: pointer;
}