animal-item.pig {

  &[ data-face = '000' ], &[ data-face = '180' ] {

    --isFaceView: -1;

    body-item { --posX: 0.5; }
    nose-item { --posX: 0.5; }

    rump-item { --posX: 0.5; }
    tail-item { --posX: 0.5; }

    neck-item { --posX: 0.5; }
    head-item { --posX: 0.5; }
    face-item { --posX: 0.5; }

    body-item > limb-item:nth-of-type( 1 ) { top: 90%; --posX: 0.1; }
    body-item > limb-item:nth-of-type( 2 ) { top: 90%; --posX: 0.9; }

    rump-item > limb-item:nth-of-type( 1 ) { top: 100%; --posX: 0.1; }
    rump-item > limb-item:nth-of-type( 2 ) { top: 100%; --posX: 0.9; }
  }

  &[ data-face = '180' ] {

    --isFaceView: 1;

    body-item > limb-item:nth-of-type( 1 ) { top: 100%; }
    body-item > limb-item:nth-of-type( 2 ) { top: 100%; }

    rump-item > limb-item:nth-of-type( 1 ) { top: 90%; }
    rump-item > limb-item:nth-of-type( 2 ) { top: 90%; }
  }

  &[ data-face = '045' ], &[ data-face = '135' ] {

    --isFaceView: -1;

    body-item { --posX: 0.5; }
    nose-item { --posX: 0.5; }

    rump-item { --posX: 0.25; }
    tail-item { --posX: 0; }

    neck-item { --posX: 0.75; }
    head-item { --posX: 0.5; }
    face-item { --posX: 0.5; }

    body-item > limb-item:nth-of-type( 1 ) { top: 90%; --posX: 0.1; }
    body-item > limb-item:nth-of-type( 2 ) { top: 90%; --posX: 0.9; }

    rump-item > limb-item:nth-of-type( 1 ) { top: 100%; --posX: 0.1; }
    rump-item > limb-item:nth-of-type( 2 ) { top: 100%; --posX: 0.9; }
  }

  &[ data-face = '135' ] {

    --isFaceView: 1;

    body-item > limb-item:nth-of-type( 1 ) { top: 100%; }
    body-item > limb-item:nth-of-type( 2 ) { top: 100%; }

    rump-item > limb-item:nth-of-type( 1 ) { top: 90%; }
    rump-item > limb-item:nth-of-type( 2 ) { top: 90%; }
  }

  &[ data-face = '090' ] {

    --isFaceView: 1;

    body-item { --posX: 0.625; }
    nose-item { --posX: 1; }

    rump-item { --posX: 0; }
    tail-item { --posX: -0.05; }

    neck-item { --posX: 1; }
    head-item { --posX: 0.5; }
    face-item { --posX: 0.5; }

    body-item > limb-item:nth-of-type( 1 ) { top: 90%; --posX: 0.5; }
    body-item > limb-item:nth-of-type( 2 ) { top: 100%; --posX: 1; }

    rump-item > limb-item:nth-of-type( 1 ) { top: 90%; --posX: 0; }
    rump-item > limb-item:nth-of-type( 2 ) { top: 100%; --posX: 0.5; }
  }

  &[ data-face = '225' ], &[ data-face = '315'] {

    --isFaceView: 1;

    body-item { --posX: 0.5; }
    nose-item { --posX: 0.5; }

    rump-item { --posX: 0.75; }
    tail-item { --posX: 1; }

    neck-item { --posX: 0.25; }
    head-item { --posX: 0.5; }
    face-item { --posX: 0.5; }

    body-item > limb-item:nth-of-type( 1 ) { top: 100%; --posX: 0.1; }
    body-item > limb-item:nth-of-type( 2 ) { top: 100%; --posX: 0.9; }

    rump-item > limb-item:nth-of-type( 1 ) { top: 90%; --posX: 0.1; }
    rump-item > limb-item:nth-of-type( 2 ) { top: 90%; --posX: 0.9; }
  }

  &[ data-face = '315' ] {

    --isFaceView: -1;

    body-item > limb-item:nth-of-type( 1 ) { top: 90%; }
    body-item > limb-item:nth-of-type( 2 ) { top: 90%; }

    rump-item > limb-item:nth-of-type( 1 ) { top: 100%; }
    rump-item > limb-item:nth-of-type( 2 ) { top: 100%; }
  }

  &[ data-face = '270' ] {

    --isFaceView: 1;

    body-item { --posX: 0.375; }
    nose-item { --posX: 0; }

    rump-item { --posX: 1; }
    tail-item { --posX: 1; }

    neck-item { --posX: 0; }
    head-item { --posX: 0.5; }
    face-item { --posX: 0.5; }

    body-item > limb-item:nth-of-type( 1 ) { top: 90%; --posX: 0; }
    body-item > limb-item:nth-of-type( 2 ) { top: 100%; --posX: 0.5; }

    rump-item > limb-item:nth-of-type( 1 ) { top: 90%; --posX: 0.5; }
    rump-item > limb-item:nth-of-type( 2 ) { top: 100%; --posX: 1; }
  }
}