animal-item {

  --posX: 0;
  --posY: 0;
  --sizeStatic: calc( var( --size ) * 1vmin );

  --color: hsla( var( --hue ), calc( var( --sat ) * 1% ), calc( var( --lum ) * 1% ), 1.0 );

  position: absolute;
  display: block;
  z-index: 10;

  left: calc( var( --posX ) * 1% );
  top: calc( var( --posY ) * 1% );

  height: var( --sizeStatic );
  width: var( --sizeStatic );

  margin-top: calc( var( --sizeStatic ) * -1 );
  margin-left: calc( var( --sizeStatic ) * -0.5 );

  *, *:before, *:after {

    --width: 100%;
    --posX: 0;

    --minP: calc( 0% - var( --width ) );
    --maxP: 100%;
    --difP: calc( var( --maxP ) - var( --minP ) );
    --lefP: calc( ( var( --posX ) * var( --difP ) ) + var( --minP ) );

    --minB: 0%;
    --maxB: calc( 100% - var( --width ) );
    --difB: calc( var( --maxB ) - var( --minB ) );
    --lefB: calc( ( var( --posX ) * var( --difB ) ) + var( --minB ) );

    --zindexF: calc( var( --isFaceView ) * 10 );
    --zindexB: calc( var( --isFaceView ) * -10 );

    width: var( --width );

    display: block;
    position: absolute;

    background-color: inherit;

    transition-duration: 500ms;
    transition-property: all;
  }

  talk-item {

    bottom: 110%;
    left: 12.5%;

    width: 75%;
    height: 75%;

    background-color: white;
    border-radius: 100vmax;

    opacity: 0;

    color: black;
    font-size: calc( var( --sizeStatic ) / 3 );

    &:before {

      content: '';

      top: 80%;
      left: 37.5%;

      z-index: -1;

      width: 25%;
      height: 25%;

      transform: rotateZ( 45deg );
      border-radius: 0;
    }

    &:after {

      top: calc( 50% - 0.5em );
      width: 100%;

      text-align: center;
      background-color: transparent;
    }
  }
}