animal-item.alpaca.munch {
  neck-item {
    bottom: -65%;
    left: -17.5%;
  }
  head-item {
    top: 65%;
    left: -50%;
  }
}

animal-item.alpaca.heart {}
animal-item.alpaca.scoot {}

animal-item.alpaca.sleep {
  limb-item {
    height: 20%;
  }
  neck-item {
    bottom: 0;
  }
  head-item {
    top: 25%;
  }
}