animal-item.alpaca.munch {
  neck-item {
    bottom: -75%;
  }
  head-item {
    top: 65%;
  }
}

animal-item.alpaca.heart {}
animal-item.alpaca.scoot {}

animal-item.alpaca.sleep {
  body-item {
    top: 60%;
  }
  limb-item {
    height: 20%;
  }
  neck-item {
    bottom: 0;
  }
  head-item {
    top: 25%;
  }
}